:root {
  --color-white: #ffffff;
  --color-black: #2e373b;
  --color-red: #f6404f;
  --color-gray: #e0e0e0;
  --color-placeholder: #9c9c9c;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  background-color: navajowhite;
  line-height: 120%;
  color: var(--color-black);
}

.heading {
  font-size: 30px;
  font-weight: 500;
}

.heading--h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: bold;
}

.heading--h2 {
}

.heading--h3 {
  font-size: 21px;
}

.heading--white {
  color: var(--color-white);
}

.heading--red {
  color: var(--color-red);
}

.local__option {
  color: var(--color-white);
}

.link {
  font-size: 16px;
  color: var(--color-white);
  text-decoration: none;
}

.link--black {
  font-size: 21px;
  color: var(--color-black);
  text-decoration: underline;
}

.link--footer {
  color: var(--color-gray);
}

.intro__subtitle {
  font-size: 24px;
  color: var(--color-white);
}

.events__date {
  font-size: 14px;
}

.events__description {
  font-size: 16px;
}

.events__card {
  text-decoration: none;
  color: var(--color-black);
}

.news__date {
  color: var(--color-red);
  font-size: 16px;
}

.footer__description {
  color: var(--color-gray);
}

.mailing__text {
  font-size: 12px;
  color: var(--color-placeholder);
}

.nav__title {
  color: var(--color-white);
}
