:root {
  --color-text-white: #ffffff;
  --color-text-black: #2e373b;
  --color-text-red: #f6404f;
  --color-link-white: #ffffff;
  --color-link-gray: #e0e0e0;
  --color-placeholder-gray: #9c9c9c;
  --color-bg-blue: #2378fc;
  --color-bg-yellow: #ffc41e;
  --color-bg-cream: #faf3e3;
  --color-bg-ocean: #30bcc9;
  --color-bg-darkGray: #2f4f4f;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  background-color: navajowhite;
  line-height: 120%;
  color: var(--color-text-black);
  min-width: 1120px;
}

.layout {
  width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.heading {
  font-size: 30px;
  line-height: 120%;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.heading--h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: bold;
}

.heading--h2 {
}

.heading--h3 {
  font-size: 21px;
}

.heading--white {
  color: var(--color-text-white);
}

.heading--red {
  color: var(--color-text-red);
}


.link {
  color: var(--color-text-white);
  text-decoration: none;
}

.link--black {
  font-size: 21px;
  color: var(--color-text-black);
  text-decoration: underline;
}

.link--footer {
  color: var(--color-link-gray);
}

.header {
  background-color: var(--color-bg-darkGray);
  background-image: url("img/headerBg.png");
  background-position: center;
}

.location {

}

.local__option {
  color: var(--color-text-white);
}

.intro {

}

.intro__subtitle {
  font-size: 24px;
  color: var(--color-text-white);
}

.nav {
  background-color: var(--color-bg-blue);
}

.nav__title {
  color: var(--color-text-white);
}

.events {
  background-color: var(--color-bg-yellow);
}

.events__date {
  font-size: 14px;
}

.events__card {
  text-decoration: none;
  color: var(--color-text-black);
}

.promo {
  background-color: var(--color-bg-cream);
}

.news {
  background-color: var(--color-bg-cream);
}

.news__date {
  color: var(--color-text-red);
}

.footer {
  background-color: var(--color-bg-ocean);
}

.footer__description {
  color: var(--color-link-gray);
}

.mailing {
}

.mailing__text {
  font-size: 12px;
  color: var(----color-placeholder-gray);
}

